@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');

*{
    margin: 0;
    font-family:"Aboreto", system-ui ;
}
html,body{
padding: 0;
    height: 100%; 
    width: 100%; 
    overflow-x: hidden;
}
body{
    position: relative;
    color: white;
}

#fullScreenVideo {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -111111;
    background-color: black;
}

.header {
    position :sticky;
    top: 0;
    background-color: transparent;
    padding: 20px;
    margin: 0 30px;
}
.nav{
    position :sticky;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.icon{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.icon h3{
    font-size:24px;
}
.nav-content{
    display: flex;
    flex-direction: row;
    gap: 40px;
    list-style: none;
    align-items: center;
}

.nav-item a{
    text-decoration: none;
    color: white;
    font-size: 24px;
}

.hero{
    height: 100vh;
    width:  100vw;
    display: flex;
    align-items: center;
    margin: -70px 60px;
}
.hero-title{
    font-size: 85px;
}

